<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <p>
   <span><b>naam : </b><%= recept.naam %></span><br/>
   <span><b>calorien : </b><%= recept.calorien %></span><br />
   <span><b>ingredienten : </b><%= recept.ingredienten %></span><br/>
   <span><b>tijd : </b><%= recept.tijd %></span><br/>
  </p>
</body>
</html>
